<h1 id="edit_title">Editing Medication</h1>

<%= render 'form', medication: @medication %>

<div class="btn btn-primary">
<%= link_to 'Show', @medication , :class => "btn" %> |
<%= link_to 'Back', medications_path, :class => "btn" %>
</div>