<div class="container">
    <h2 id="welcome">Welcome to Doctor-ment</h2>
</div>

<div id="details" class="container">
  <div class="row">
    <img class="col-8" src="https://bit.ly/3ifEMxs" />
    <h2 id="infoText" class="col-4 center">Create better communication between you and your provider.</h2>
  </div>
</div>
<div id="details" class="contianer">
    <div class="row">
        <h2 id="infoText"class="col-4">Keep track of your diet and medication</h2>
        <img class="col-8" src="https://bit.ly/3zL2842" />
    </div>
</div>