<h1 id="edit_title">Editing Doctor</h1>

<%= render 'form', doctor: @doctor %>

<div class="btn btn-primary">
<%= link_to 'Show', @doctor , :class => "btn" %> |
<%= link_to 'Back', doctors_path, :class => "btn" %>
</div>