<h1 id="edit_title">Editing Diet</h1>

<%= render 'form', diet: @diet %>

<div class="btn btn-primary">
<%= link_to 'Show', @diet , :class => "btn" %> |
<%= link_to 'Back', diets_path, :class => "btn" %>
</div>